* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #e1e1e1 ;
  color: #1e1e1e ;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 75vw;
}

.container .carousel {
  display: flex;
  overflow-x: auto; /*Se estiver scrool colocar */
  scroll-behavior: smooth; /*Scrool mais leve*/
}

.container .carousel::-webkit-scrollbar {
  display: none; /*esconder o scrollbar*/
}

.container .carousel .item {
   background-color: white;
   margin: 10px;
   padding: 10px;
   width: 280px;
   border-radius: 16px;
   flex: none;
}

.container .carousel .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .carousel .item .info {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.container .carousel .item .info span {
  display: block;
  text-align: center;
  color: black;
  padding: 5px;
  border-radius: 10px;
}

.container .carousel .item .info .name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #00a8fb;
}

.container .carousel .item .info .oldPrice {
  font-size: .8rem;
  text-decoration: line-through;
  color: #e81a5d;
  flex-grow: 1;
}

.container .carousel .item .info .price {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ff7e3b;
}

.container .buttons {
  text-align: center;
  width: 100%;
}

.buttons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.buttons .after img {
  transform: rotate(180deg);
}
